// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

$font-3: 'Arial';

body {
    h2{
        color:beige;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-style: italic;
    }
    // h3{
    //     font-family: Verdana, Geneva, Tahoma, sans-serif;
    //     font-size: medium;
    //     color: rgba(188, 136, 32, 0.63);
    // }
    // h4{
    //     font-family: Verdana, Geneva, Tahoma, sans-serif;
    //     font-size: medium;
    //     font-weight: 700;
    //     color:rgb(55, 17, 17) ;
    // }
    background-image: url(../assets/fondcuir.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo {
    padding: 1rem;
    text-align: center;
    background-color:rgb(216, 159, 47) ;
    border-radius: 50%;
}
.espace {
    padding: 1rem;
}
p{
    color:rgb(55, 17, 17);
}
.bloc1 {
    background-color: rgb(68, 20, 20);
    opacity:0.9;
    color:bisque;
    height: 400px;
    padding-top: 10px;
}
.navbar {
    background-color:rgb(216, 159, 47);
}
.bloc2 {
    background-color: bisque;
    padding: 1px;
} 
.pix img {
    height: 20rem;
    object-fit: cover;
}
.card {
    margin: 1rem 0 .5rem 0;
    background-color: bisque;
}
.gallerie {
    background-color:rgb(118, 58, 58);
}
.page-link {
    color:rgb(37, 22, 22);
    background-color: bisque;
}
.pagination {
   display: flex;
   justify-content: center  ;
}
.restaurant h1, .restaurant h2, .restaurant h3 {
    margin: 1rem 0 .5rem 0;
}
.restautant h1, .restaurant h2, .restaurant h3, .restaurant p {
    color:rgb(55, 17, 17);
}
.adresses-horaires{
    background-color: bisque;
    color:rgb(55, 17, 17);
    padding-left: 1rem;
}
.jumbotron {
    color: bisque;
    background-image: url('/images/abats.jpg');
    background-size: cover;
}
.form-label {
    background-color:rgb(212, 168, 78);
    font-style: oblique;
    opacity: 0.8;
    margin-bottom: 0%;
    border-radius: 4px;
    padding: .5rem .5rem 0 .5rem;
    font-weight: bold;
}
.form-control{
    background-color: bisque;
}
footer {
    ul a, p, .text-center {
        color:bisque;
        font-weight: 700;
    }
    li {
        margin-right: 1rem;
    }
}